<form name="form" role="form" (ngSubmit)="create()" #absenceForm="ngForm">
    <div>
        <label for="debut">Date debut :</label>
        <input [(ngModel)]="startDate" type="Date" id="debut" name="date_debut">
    </div>
    <div>
        <label for="fin">Date de fin :</label>
        <input [(ngModel)]="endDate" type="Date" id="fin" name="date_fin">
    </div>
    <div>
        <SELECT [(ngModel)]="typeAbsence" name="typeAbsence" size="1">
            <OPTION>Congé payé
            <OPTION>Congé sans solde
            <OPTION>RTT
        </SELECT>
    </div>

    <div class="button">
        <button type="submit">Envoyer</button>
    </div>
</form>
