<!--
<form name="form" role="form" #absenceForm="ngForm">
-->
    <div>
        <label for="debut">Date debut :</label>
        <input [(ngModel)]="startDate" type="Date" id="debut" name="date_debut">
    </div>
    <div>
        <label for="fin">Date de fin :</label>
        <input [(ngModel)]="endDate" type="Date" id="fin" name="date_fin">
    </div>
    <div>
        <select [(ngModel)]="absenceType" name="typeAbsence">
            <option value="Congé Payé">Congé payé</option>
            <option value="Congé Sans Solde">Congé sans solde</option>
            <option value="RTT">RTT</option>
        </select>
    </div>

    <div class="button">
        <button (click)="create()" [routerLink]="['/']">Envoyer</button>
    </div>
<!--</form>-->
