<div>
    <h2>
        <span>Absences</span>
        <button class="btn btn-primary float-right" [routerLink]="['/addAbsence']">
            <span class="fa fa-refresh"></span> <span>Ajouter une absence</span>
        </button>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date debut</th>
                <th class="text-center">Date fin</th>
                <th class="text-center">type d absence</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr *ngFor="let absence of absences">
                <td>{{absence.startDate}}</td>
                <td>{{absence.endDate}}</td>
                <td>{{absence.absenceType}}</td>
            </tr>
            -->
            </tbody>
        </table>
    </div>
</div>
