
<!-- <zs-page-ribbon></zs-page-ribbon> -->
<div [ngClass]="isAuthenticated()?'app header-fixed sidebar-fixed':'app'" id="container">
<router-outlet name="navbar" *ngIf="isAuthenticated()"></router-outlet>
<div class="app-body" id="app-body">
    <zs-sidebar *ngIf="isAuthenticated()"></zs-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb" *ngIf="isAuthenticated()">
            <!-- <app-breadcrumbs></app-breadcrumbs>-->
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div><!-- /.conainer-fluid -->
    </main>
</div>
<zs-footer *ngIf="isAuthenticated()"></zs-footer>
</div>
